/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Bubbles&family=Rubik+Gemstones&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Header_Bg {
  width: 100%;
  height: 55vh;
  background: url("./images/Bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 120px 120px;
  display: flex;
  align-items: center;
}
.Header_Grid {
  text-align: center;
}
.Card_Design {
  text-align: center;
  position: relative;
  top: 20px;
}
.Card_Design img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.Card_Design p {
  font-size: 1.5rem;
  font-weight: bold;
}
.Card_Design h2 {
  font-size: 3rem;
  font-family: "Rubik Gemstones", cursive;
}
